# Dependencies
node_modules
.pnp
.pnp.js

# Environment Variables (NEVER upload these)
.env
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
docker-data/
postgres_data/
mongo_data/

# Expo/Builds
.expo/
dist/
web-build/
